header nav ul {
    list-style-type: none;
    margin: -8px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: -2px;
    width: 100%;
  }
  
  header nav ul li {
    float: left;
  }
  
  header nav ul li .click{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  header nav ul li .click:hover {
    background-color: #149414 ;
  }
  header nav ul li .deco{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  header nav ul li .deco:hover {
    background-color: #111 ;
  }

  header nav ul .droite 
  {
    float:right;
    margin-top: -8px;
    margin-right: -5px;
  }